@charset "UTF-8";

body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
   color: maroon;
   background-color: goldenrod0;
}.
0xw0h'202 2.'0.0.0=.=-'{
    color: darkred;.='- 0'
}
p {
  text-align: justify;  
}