@charset "UTF-8";

header {
    background-color: black;
    height: 50vh;
    padding: 2px 50px 2px 50px;
    margin: -10px -8px;
    
}

header > h1 {
    text-align: center;
    color: white;
}

header > p {
    text-align: center;
}

body {
    background-color: white;
}